{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/cars/car-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Car List</h1>
  <img src="{% static 'images/sport.jpeg' %}" alt="A generic sports car" />
  <img src="{% static 'images/sedan.jpeg' %}" alt="A generic sedan" />
  <img src="{% static 'images/suv.jpeg' %}" alt="A generic crossover or suv" />
  <img src="{% static 'images/truck.jpeg' %}" alt="A generic truck" />
</section>

<section class="card-container">
  {% for car in cars %}
    <div class="card">
      {% if car.type == 'S' %}
        <a href="{% url "car-detail" car.id %}">
          <div class="card-content">
            <div class="card-img-container">
              <img class="sports-car" 
                src="{% static 'images/Sport.jpeg' %}"
                alt="A {{car.type}}"
              >
            </div>
            <h2 class="card-title">{{ car.year }} {{ car.make }} {{ car.model }}</h2>
            <p><small>{{ car.description }}</small></p>
          </div>
        </a>
      {% elif car.type == 'L' %}
        <a href="{% url "car-detail" car.id %}">
          <div class="card-content">
            <div class="card-img-container">
              <img class="sedan" 
                src="{% static 'images/Sedan.jpeg' %}"
                alt="A {{car.type}}"
              >
            </div>
            <h2 class="card-title">{{ car.year }} {{ car.make }} {{ car.model }}</h2>
            <p><small>{{ car.description }}</small></p>
          </div>
        </a>
      {% elif car.type == 'C' %}
        <a href="{% url "car-detail" car.id %}">
          <div class="card-content">
            <div class="card-img-container">
              <img class="crossover" 
                src="{% static 'images/SUV.jpeg' %}"
                alt="A {{car.type}}"
              >
            </div>
            <h2 class="card-title">{{ car.year }} {{ car.make }} {{ car.model }}</h2>
            <p><small>{{ car.description }}</small></p>
          </div>
        </a>
      {% elif car.type == 'T' %}
        <a href="{% url "car-detail" car.id %}">
          <div class="card-content">
            <div class="card-img-container">
              <img class="truck" 
                src="{% static 'images/Truck.jpeg' %}"
                alt="A {{car.type}}"
              >
            </div>
            <h2 class="card-title">{{ car.year }} {{ car.make }} {{ car.model }}</h2>
            <p><small>{{ car.description }}</small></p>
          </div>
        </a>
      {% endif %}
    </div>
  {% endfor %}
</section>

{% endblock %}